header{
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 20px;
}